img {
    width: 500px;
    filter: blur(3px);
}

img:hover {
    filter: blur(0px);
    transition: 0.3s ease;
}
.img {
    box-shadow: 3px 3px 10px rgba(209, 50, 50, 0.5),
        3px 3px 10px rgba(0, 0, 0, 0.5,);

}